.project-page {
  width: 100%;
  height: 100%;
  margin-top: 50px;

  .text-zone {
    text-align: center;
  }

  h1 {
    font-size: 53px;
    font-family: 'Coolvetica';
    color: #ffd700;
    font-weight: 400;
    margin-top: 0;

    &:before {
      content: '<h1>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      position: absolute;
      margin-top: -10px;
      opacity: 0.6;
      line-height: 18px;
    }

    &:after {
      content: '<h1/>';
      font-family: 'La Belle Aurore', cursive;
      color: #ffd700;
      font-size: 18px;
      line-height: 18px;
      position: relative;
      left: -30px;
      bottom: -20px;
      margin-left: 20px;
      opacity: 0.6;
    }
  }

}

.projects-cards {
  height: 100%;
  display: grid;
  margin-left: 120px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding: 30px;
}

.cards {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  box-shadow:20px 20px 20px rgba(0,0,0,.5),-20px -20px 20px rgba(0,0,0,.5);
  background-color:hsl(190deg,60%,20%);
  cursor:pointer;
  transform-origin:preserve-3d;
  transition:transform 200ms ease-out;

  .cards-info {
    display: none;
  }

  .img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 960px){
  .project-page {
    height: 100vh;
    overflow-y: auto;
    margin-top: 100px;
  }

  .projects-cards {
    grid-template-columns: 1fr 1fr;
    margin: 0;
    padding-bottom: 50px;
  }
}

@media (max-width: 600px){
  .project-page {
    overflow-y: auto;
    height: 100vh;
  }

  .projects-cards {
    grid-template-columns: 1fr;
    margin: 0;
    padding-bottom: 50px;
  }
}